body {
  padding: 25px;
  background-color: rgba(46, 139, 87, 0.5);
}

p {
  margin: 0;
}

.page-title {
  display: inline;
  margin-right: 10px;
}

.article-item {
  list-style: none;
}

.article-title {
  font-size: 36px;
  font-weight: 900;
  line-height: 1.5;
  text-align: center;
}
.article-container {
  display: flex;
}
.article-subtitle-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.article-capital,
.article-population,
.languages-list {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.4;
}

.article-subtitle {
  font-weight: 800;
}

.languages-list {
  padding: 0;
}

.languages-list__item {
  margin: 20px 50px 0px;
}
